<!-- Portfolio Modals -->

{% for project in site.portfolio %}
<div
  class="portfolio-modal modal fade"
  id="p{{ forloop.index }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <style>
    .modal-content {
      background: #ccc;
    }
  </style>
  <div class="modal-dialog modal-xl">
    <div class="modal-content bg-dark text-white">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              {% if project.url && project.url !="" %}
                <!--<p>{{ project.content }}</p>-->
                <iframe width="1280" height="720" src="https://www.youtube.com/embed/Ocub9wQ0lag" title="The Tragic Prince" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              {% else %}
                <img
                  class="img-fluid d-block mx-auto"
                  src="{{ project.image }}"
                  alt="{{ project.alt }}"
                />
              {% endif %}
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                {{ site.data.sitetext[site.locale].portfolio.closebutton |
                default: "Close" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- End Portfolio Modals -->